label {
    position: absolute;
    width: 100px;
}

input,
textarea {
    margin-left: 100px;
    margin-bottom: 10px;
}

body {
    margin: 70px;
}

h1 {
    text-align: center;
}

.basicinfo {
    text-align: right;
}

span {
    font-weight: bold;
    text-decoration: underline;
}

#tptable {
    border-style: double;
}

div {
    margin: 10px;
}

.main {
    border-style: double;
    color: black;
    padding: 50px;
}

#photo {
    float: left;
    border-style: dashed;
    width: 90px;
    height: 100px;
    text-align: center;
}

#basicinfodiv {
    float: right;
    background: blue;
    width: 25%;
    height: 280px;
}

table,
th,
td {
    padding: 3px;
    margin-top: 10px;
    border: 2px solid black;
}

.grey>span {
    background-color: #808080;
}

tr>th {
    background-color: #c5bebe;
}

.combine {
    display: flex;
    height: 20px;
}

.left {
    width: 50%;
    background-color: green;
}

.right {
    text-align: right;
   width: 50%;
    background-color: blue;
}